.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  /*어떤것을 원으로 만들고 싶을땐 사격형 사이즈의 절반 크기로 하면됨*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
}

.badge-sm {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  /*어떤것을 원으로 만들고 싶을땐 사격형 사이즈의 절반 크기로 하면됨*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.sh-badge-sm {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  /*어떤것을 원으로 만들고 싶을땐 사격형 사이즈의 절반 크기로 하면됨*/
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7.5px;
  right: -7.5px;
}
