#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--red);
  display: flex;
  top: 0px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (max-width: 500px) {
  #no-mobile {
    display: none;
  }
}

/*화면이 가로모드를 지원하지 않는 미디어쿼리도 만들어 보기
portrait와 landscape를 감지하는 것을 활용*/
