.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 30px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}

@keyframes rotateMusic {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-music:hover {
  will-change: transform;
  animation: rotateMusic 1s linear infinite;
}

@keyframes scaleSearch {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-search:hover {
  will-change: transform;
  animation: scaleSearch 1s linear infinite;
}

@keyframes scaleComment {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-comment-dots:hover {
  will-change: transform;
  animation: scaleComment 1s linear infinite;
}
